:root {
  --background-color: #153131;
  --secondary-color: #bb8d68;
  --tertiary-color: #45CB85;
  --accent-color: #477998;
}

#app-container {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.scrollWrapper {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  overflow-x: auto;
  width: 100%;
}

.container-fluid {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
}