#root {
  width: 100%;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

header {
  position: relative;
  width: 100%;
  height: auto;
  overflow: hidden;
}

.header-background {
  position: relative;
  width: 100%;
  height: 300px; /* Set a fixed height for the header */
  background-size: cover; /* Ensure the image covers the header area */
  background-position: center; /* Center the image */
  overflow: hidden;
}

.navbar {
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1; /* Ensure the Navbar is on top of the image */
}

footer {
  padding: 2rem 0;
  width: 100%;
  background-color: #242424; /* Set your desired background color */
  color: rgba(255, 255, 255, 0.87); /* Set your desired text color */
  text-align: center;
}

footer .row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer .col {
  display: flex;
  justify-content: center;
  align-items: center;
}

footer img {
  transition: filter 0.3s ease; /* Add a smooth transition effect to the image links */
}

footer img:hover {
  filter: brightness(.5); /* Adjust the brightness of image links on hover to indicate to user that it is clickable */
}
