/* Header styling */
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  max-width: 100%;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  min-height: 125px; /* Default height for larger screens */
  background-size: cover;
  background-position: center;
  box-sizing: border-box; /* Ensure padding is included in height calculations */
}

.header-background {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 125px;
  background-size: cover;
  background-position: center;
}

/* Header title styling */
header h1 {
  margin: 0;
  margin-top: 10px;
  text-shadow: black 2px 1px 1px;
}

header h2 {
  padding-bottom: 10px;
  text-shadow: black 2px 1px 1px;
}

/* Navigation styling */
.navbar-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: -10px auto; /* Center the navigation bar */
  padding: auto 10px; /* Add padding to prevent overflow */
  box-sizing: border-box; /* Ensure padding is included in width calculations */
}

.nav-tabs {
  display: flex;
  flex-wrap: wrap; /* Allow tabs to wrap to the next line if needed */
  justify-content: center; /* Center-align the tabs */
  gap: 5px; /* Add spacing between tabs */
  width: 100%; /* Ensure the tabs span the full width of the container */
  box-sizing: border-box;
}

.nav-tabs .nav-link {
  font-size: 14px;
  padding: 8px 12px;
  flex: 1 1 auto;
  color: var(--accent-color);
  text-align: center;
  transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

/* Active tab styling */
.nav-tabs .nav-link.active {
  color: white;
  text-shadow: black 1px 2px 2px;
  background-color: var(--accent-color);
  border-color: white;
}

/* Hover effect */
.nav-tabs .nav-link:hover {
  color: black;
  text-shadow: whitesmoke 1px 2px 2px;
  background-color: white;
}

/* Mobile-specific adjustments */
@media (max-width: 768px) {
  header {
    padding: 5px;
    min-height: 100px; /* Adjust height for smaller screens */
    flex-direction: column;
    align-items: center;
    text-align: center;
    box-sizing: border-box;
  }

  header h1 {
    font-size: 20px;
    margin-top: 5px;
  }

  .navbar-container {
    margin-top: 0.5em;
    flex-direction: column;
    width: 100%;
    padding: 0;
  }

  .nav-tabs {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .nav-tabs .nav-link {
    padding: 8px 12px;
    font-size: 14px;
  }
}

@media (max-width: 402px) {
  header {
    min-height: 140px; /* Ensure enough height for the header at 402px breakpoint */
  }

  .navbar-container {
    margin-top: auto;
    margin-bottom: -5px;
  }

  .nav-tabs .nav-link {
    font-size: 12px; /* Reduce font size */
    padding: 6px 8px; /* Reduce padding */
  }

}
