/* Portfolio Page Styles */
.portfolioPage {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    overflow-x: auto;
    padding: 20px;
    box-sizing: border-box;
  }
  
  .portfolioPage h2,
  .portfolioPage h5 {
    text-align: center;
    text-shadow: black 1px 2px 2px;
    margin-top: 10px;
    margin-bottom: 20px;
    padding: 5px;
  }
  
  /* Project Card Styles */
  .projectCard {
    width: clamp(280px, 80%, 36rem);
    margin: 1rem;
    flex-shrink: 1;
  }
  
  .projectCardImage {
    width: 100%;
    /* max-width: 576px; */
    height: auto;
    object-fit: cover;
    flex-shrink: 0;
  }
  
  .projectCardContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    padding: 1rem;
  }
  
  .projectCardTitle,
  .projectCardName {
    color: black;
  }
  
  .projectCardTitle {
    text-shadow: white 1px 2px 2px;
  }
  
  /* Media Queries */
  @media (max-width: 600px) {
    .projectCard,
    .projectCardImage {
      width: 100%;
      max-width: 100%;
      height: auto;
    }
  }

  .cardGithubLogo {
    height: 40px;
    width: 40px;
    margin-left: 5px;
    margin-right: 10px;
    margin-bottom: 10px;
    transition: filter 0.3s ease;
  }
  
  .cardGithubLogo:hover {
    filter: brightness(2.5);
  }
  