/* Portfolio Page Styles */
.portfolioPage {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    /* overflow-x: hidden; */
    padding: 20px;
    box-sizing: border-box;
  }
  
  .portfolioPage h2,
  .portfolioPage h5 {
    text-align: center;
    text-shadow: black 1px 2px 2px;
    margin-top: 10px;
    margin-bottom: 20px;
    padding: 5px;
  }
  
  /* Project Card Styles */
  .projectCard {
    width: clamp(280px, 90%, 36rem); /* Adjust width for smaller screens */
    margin: 1rem auto; /* Center the card horizontally */
    flex-shrink: 1;
    display: flex;
    flex-direction: column; /* Stack content vertically */
    justify-content: space-between; /* Ensure proper spacing between elements */
    box-sizing: border-box; /* Include padding and border in width/height */
    overflow: hidden; /* Prevent content from overflowing the card */
  }
  
  .projectCardImage {
    width: 100%; /* Ensure it fills the card's width */
    height: 200px; /* Set a fixed height for uniformity */
    object-fit: cover; /* Crop the image to fit the dimensions */
    flex-shrink: 0;
  }
  
  .projectCardContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    padding: 1rem;
  }
  
  .projectCardTitle,
  .projectCardName {
    color: black;
  }
  
  .projectCardTitle {
    text-shadow: white 1px 2px 2px;
  }
  
  /* Media Queries */
  @media (max-width: 600px) {
    .projectCard {
      width: 100%; /* Full width on smaller screens */
      margin: 0.5rem auto; /* Center the card horizontally */
    }
    .projectCardImage {
      height: 150px; /* Adjust height for smaller screens */
    }
  }

  .cardGithubLogo {
    height: 40px;
    width: 40px;
    margin-left: 5px;
    margin-right: 10px;
    margin-bottom: 10px;
    transition: filter 0.3s ease;
  }
  
  .cardGithubLogo:hover {
    filter: brightness(2.5);
  }
